/** @format */

.hero-wrap {
  background-color: #2099b3;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: -1px;
}

.hero-content {
  margin-top: 3rem;
}

.img-section {
  margin: 2rem;
  max-width: 225px;
  max-height: 225px;
}

.img-section img {
  border-radius: 20%;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 20px 5px #888888;
}

.designation {
  color:#fdd247;
}

/*--------------------------------------------------------------------Media-------------------------------------------*/
@media (max-width: 575px) {}

/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */
/*
 Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}