.skill-wrap {
    padding: 2rem 0;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.skill-heading {
    text-align: center;
    padding: 1.5rem 1rem;
    width: 100% !important;
}

.skill-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}


.skill-bars {
    padding: 5px 15px;
    width: 250px;
    /* flex-basis: 20%; */
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 1rem;
}

.skill-bars .bar {
    margin: 20px 0;
}

.skill-bars .bar:first-child {
    margin-top: 0px;
}

.skill-bars .bar .info {
    margin-bottom: 5px;
}

.skill-bars .bar .info span {
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skill-bars .bar .progress-line {
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line span::before {
    position: absolute;
    content: "";
    top: 2px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 10px;
    border-right-width: 0px;
    border-bottom-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
    position: absolute;
    top: 15px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 0px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.title span::after {
    content: attr(value);
}

.skill-P {
    color: rgb(160, 29, 29);
    font-size: 1.2rem;
    font-weight: 600;
}

/*****************************media Query***************************/
@media (max-width: 576px) {}

@media (max-width:768) {}

@media (max-width: 820px) {

    .skill-wrap {
        flex-wrap: wrap;
    }

    .skill-bars {
        margin: 0 1rem 1rem 1rem;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc(33.33% - 2rem);
    }

}

@media (max-width: 992px) {}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {}