.About {
    padding: 2rem;
}

.img-fluid {
    height: 100%;
    width: 100%;
}

.about-image{
    filter: drop-shadow(5px 5px 5px #2099b3);
    transition: all .5s linear;
}

.about-image:hover{
    transform: scale(1.1);
}

.about-header {
    font-size: 2rem;
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;
}
.about-content {
    color: #1a446e;
}

.about-content p {
    font-weight: 500
}

.social-Item {
    display: inline !important;
}

.right-section {
    /* background-image: url(https://www.howkya.com/img/Right-section.png); */
    background-position: top right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #2099b3;
}
.back-layer {
    background-color: #e6f6ff;
    border-top-left-radius: 450px;
    /* clip-path: ellipse(130px 140px at 100% 100%); */
}

@media (max-width: 992px) {
    .about-content {
        margin-left: 50px;
    }
}
@media (max-width: 545px) {
    .back-layer {
        background-color: #fff;
        border-top-left-radius: 240px;
    }
}