.contact-wrap {
    background-color: rgb(87, 84, 84);
    color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.detail {
    width: 500px;
    padding: 2rem;
    align-items: center;
}

.Resource-img {
    padding: 2rem;
    align-items: center;
    width: fit-content;
    justify-content: center;
}

.Resource-img img {
    height: 250px;
    width: 100%;
}

.contact-btn {
    padding: auto 11.5rem !important;
}